<% content_for(:title, 'Help') %>

<div class="content">
  <strong>Available help topics:</strong>

  <ul>
    <li><%= link_to 'Songdown Syntax', help_songdown_syntax_path, :class => 'fancy-link' %></li>
    <li><%= link_to 'Songdown Source Code', 'https://github.com/1vasari/rails-songdown', class: 'fancy-link', target: '_blank' %></li>
  </ul>

  <div class="">
    <%= image_tag 'help.png', :class => 'pure-img' %>
  </div>
</div>
