<div class="header">
  <h1>Songdown Help</h1>
</div>

<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <strong>Available help topics:</strong>

      <ul>
        <li><%= link_to 'Songdown Syntax', help_songdown_syntax_path, :class => 'fancy-link' %></li>
        <li><%= link_to 'Songdown Source Code', 'https://github.com/1vasari/rails-songdown', class: 'fancy-link', target: '_blank' %></li>
      </ul>
    </div>

    <div class="pure-u-1-2">
      <%= image_tag 'help.png', :class => 'pure-img' %>
    </div>
  </div>
</div>
