<% content_for(:title, 'Songdown Syntax') %>

<div class="columns is-centered">
  <div class="column is-two-thirds">
    <h1 class="is-size-3">Intro</h1>
    <div class="block">
      Songs are written using a plaintext markup language. This means that rather than visually
      selecting and changing the look of text (i.e., select text, click "B" for bold) we use
      symbols inside the text. Here are some examples of how to use it.
    </div>

    <div class="columns">
      <div class="column">
        <h1 class="is-size-3">Songdown code</h1>
      </div>
      <div class="column">
        <h1 class="is-size-3">Output</h1>
      </div>
    </div>

    <% @examples.each do |example| %>
      <div class="columns">
        <div class="column">
          <pre style="white-space: pre-wrap;"><%= example.strip %></pre>
        </div>
        <div class="column">
          <%= compile_songdown(example).html_safe %>
        </div>
      </div>
      <hr />
    <% end %>
  </div>
</div>
