<div class="header">
  <h1>Hi there</h1>
</div>

<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <%= render 'form' %>
    </div>

    <div class="pure-u-1-2">
      <p>
        Don't have an account? 
        <%= link_to 'Register', register_path, :class => 'pure-button pure-button-primary' %>
      </p>
    </div>
  </div>
</div>

