<div class="header">
  <h1>Setlists</h1>
</div>

<div class="content">
  <div style="float: right;">
    <%= link_to 'New Setlist', new_setlist_path, :class => 'pure-button pure-button-primary' %>
  </div>

  <h2>Sets</h2>

  <% @setlists.each do |setlist| %>
    <div>
      <%= link_to setlist.name, setlist_path(setlist), :class => 'fancy-link' %>
    </div>
  <% end %>
</div>
