<% content_for(:title, 'Setlists') %>

<div class="columns">
  <div class="column">
    <div style="float: right;">
      <%= link_to 'New Setlist', new_setlist_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <h2>Sets</h2>

    <ul>
      <% @setlists.each do |setlist| %>
        <li>
          <%= link_to setlist.title, setlist_path(setlist) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
