<%= form_tag songs_path, method: :get do %>
  <div class="field has-addons">
    <div class="control">
      <%= text_field_tag :query, params[:query] || '',
        autocomplete: 'off',
        placeholder: 'Find a song',
        class: 'input'
      %>
    </div>
    <div class="control">
      <%= submit_tag 'Search', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
