<h2>Find a Song</h2>

<%= form_tag songs_path, method: 'get' do %>
  <div class="input-group input-inline">
    <%= text_field_tag :query, params[:query] || '',
      autocomplete: 'off',
      placeholder: 'Enter query',
      class: 'form-input'
    %>
    <%= submit_tag 'Search', class: 'btn btn-primary input-group-btn' %>
  </div>
<% end %>
