<% content_for(:title, 'Songs') %>

<div class="columns">
  <div class="column">
    <%= link_to 'New Song', new_song_path, class: 'button is-primary' %>
  </div>
  <div class="column is-narrow">
    <%= render 'songs/search' %>
  </div>
</div>

<div class="columns is-multiline">
  <% @songs.keys.sort.each do |artist| %>
    <div class="column is-3">
      <div class="card">
        <header class="card-tile">
          <p class="card-header-title"><%= artist %></p>
        </header>
        <div class="card-content p-0">
          <aside class="menu">
            <ul class="menu-list">
              <% @songs[artist].each do |song| %>
                <li><%= link_to song.title, song %></li>
              <% end %>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  <% end %>
</div>
