<% content_for(:title, 'Songs') %>

<div class="columns">
  <div class="column">
    <div style="text-align: center;">
      <%= render 'songs/search' %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= link_to 'New Song', new_song_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="columns">
  <% @songs.keys.sort.each do |artist| %>
    <div class="column col-3">
      <ul class="menu">
        <div class="tile">
          <div class="tile-content">
            <strong><%= artist %></strong>
          </div>
        </div>
        <div class="divider"></div>
        <% @songs[artist].each do |song| %>
          <li class="menu-item">
            <%= link_to song.title, song %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
