<% content_for(:title, 'About') %>

<div class="columns">
  <div class="column has-text-centered">
    <%= image_tag '1vasari.jpg',
      alt: 'Image of 1vasari',
      id: 'profile_picture',
      style: 'margin: 0 auto;',
      class: 'image'
    %>

    <p>
      Songdown is a creation of
      <a href="https://github.com/1vasari" target="_blank" rel="noopener noreferrer">1vasari</a>.
    </p>
  </div>
</div>
