<div class="header">
  <h1>About</h1>
</div>

<div class="content">
  <p>
    Songdown is a creation of 1vasari.
  </p>

  <!-- Insert image of me here... -->

  <p>
    <%= link_to 'Back Home', root_path, :class => 'fancy-link' %>
  </p>
</div>
