/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 *= require pure
 *= require dragula/dist/dragula
 */

body {
  /* Show the scroll bar to reduce jumping */
  overflow-y: scroll;
}

.pure-menu-heading {
  text-transform: none !important;
  font-weight: bold;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}

.pure-form-stacked label {
  font-weight: bold;
}

.pure-form-stacked input, .pure-form-stacked select {
  margin-bottom: 1em !important;
}

.medium-form input, .medium-form select {
  width: 50%;
}

.full-form input, .full-form select {
  width: 100%;
}

.medium-form input[type=button], .medium-form input[type=submit],
.full-form input[type=button], .full-form input[type=submit] {
  width: auto;
}

.field_with_errors input {
  border-color: red !important;
}

.center-text {
  text-align: center;
}

a {
  color: black;
}

a.fancy-link:hover {
  color: #0f7ec8;
}

a.fancy-link,
a.fancy-link:visited,
a.fancy-link:hover,
a.fancy-link:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
}

a.fancy-link:after {
  content: '';
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

a.fancy-link:after {
  bottom: -0.25em;
}

a.fancy-link:after {
  height: 0.2rem;
  width: 0;
  background: #0f7ec8;
}

a.fancy-link:after {
  left: 0;
}

a.fancy-link:hover:after {
  width: 100%;
}

hr {
  border-color: black;
  border-width: 1px;
  width: 65%;
}
