.pure-menu-heading {
  text-transform: none !important;
  font-weight: bold;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}

.pure-form-stacked label {
  font-weight: bold;
}

.pure-form-stacked input, .pure-form-stacked select {
  margin-bottom: 1em !important;
}

.medium-form input, .medium-form select {
  width: 50%;
}

.big-form input, .big-form select {
  width: 100%;
}

.medium-form input[type=button], .medium-form input[type=submit],
.big-form input[type=button], .big-form input[type=submit] {
  width: auto;
}

