.pure-menu-heading {
  text-transform: none !important;
  font-weight: bold;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}

.pure-form-stacked label {
  font-weight: bold;
}

.pure-form-stacked input:not([type="submit"]),
.pure-form-stacked select,
.pure-form-stacked textarea {
  margin-bottom: 1em !important;
}

.big-form input,
.big-form select,
.big-form textarea {
  width: 100%;
}

.big-form input[type=button], .big-form input[type=submit] {
  width: auto;
}

.pure-button-danger {
  color: #ffffff;
  background-color: #d82424;
}
