// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.songlist {
  list-style-type: none;
}

ul.songlist li {
  list-style-type: none;
}

#songdown_input_field, .sd-song {
  font-family: 'Roboto Mono', monospace;
}

#songdown_input_field {
  min-height: 300px;
  width: 100%;
  resize: vertical;
}

.sd-song {
  font-size: 16px;
}

.sd-song *:first-child {
  margin-top: 0;
}

.sd-verse-header {
  text-decoration: underline;
  margin-left: 5%;
}

.sd-verse-block {
  page-break-after: avoid;
  margin-left: 10%;
}

.sd-lyrics-line {
  white-space: pre-wrap;
}

.sd-chords-line {
  font-weight: bold;
  white-space: pre-wrap;
}

.sd-goto {
  text-decoration: underline;
  font-style: italic;
}
