<% if user_signed_in? %>
  <div class="columns">
    <div class="column">
      <footer class="center-text">
        Logged in as <%= current_user.decorate :full_name %>
      </footer>
    </div>
  </div>
<% end %>
